################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSDropAssist.2017/v15
/.vs/VSDropAssist.2017/v16/TestStore/0/003.testlog
/.vs/VSDropAssist.2017/v16
/.vs/VSDropAssist.2022/v15
/.vs/VSDropAssist.2022/v17/.suo
